body {
    background: #101010;
}

aside {
    float: left;
    color: plum;
    background: #202020;
    width: 15%;
    height: 100vh;
    padding: 2.5%;
    border-right: 5px solid #303030;
    position: fixed;
    overflow-y: auto;
}

aside ul {list-style: none}
aside ul li, a {
    color: plum;
    display: block;
    margin-top: 10px;
    transition: transform .4s ease;
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover, aside div header a:hover, div h2 a:hover, main footer a:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: plum;
    margin-top: 10px;
    margin-left: 350px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px}
main .features p {margin: 20px auto; max-width: 1000px}

.alert-warning {
    padding: 30px;
    font-family: "Palatino Linotype", serif;
    border-color: #5A916A;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background: #903490;
    float: left;
    clear: both;
    width: 600px;
    margin: 15px 24%;
    text-align: left;
}

.alert-info {
    background: #5A916A;
    border-color: #903490;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    color: plum;
    float: left;
    clear: both;
    width: 600px;
    margin: 15px 20%;
    text-align: left;
    padding: 30px;
    font-family: "Palatino Linotype", serif;
}

.user-selection {
    font-family: "Palatino Linotype", serif;
    font-weight: bold;
    border-style: dashed;
    border-color: #5A916A;
    border-radius: 10px;
    border-width: 2px;
    margin-bottom: 15px;
    text-align: center;
}

.user-header {
    padding: 10px;
    margin-bottom: 10px;
}

.buy-membership {
    background: #1b1b1b;
    color: white;
    width: 5%;
    border-radius: 2px;
}

#menu {
    font-family:'Palatino Linotype', serif;
    font-weight: bold;
}

.img-container {
    max-width: 300px;
    max-height: 500px;
    overflow: auto;
    justify-content: center;
}

footer nav a {
    display: inline-block;
    margin-right: 10px;
}

.main_nav {
    background-color: #202020;
    padding: 10px 0;
    text-align: left;
    position: fixed; /* Закрепить меню вверху экрана */
    top: 0; /* Расположить меню в самом верху экрана */
    width: 100%; /* Занимать всю ширину экрана */
    z-index: 1000; /* Убедитесь, что меню отображается выше других элементов */
}

.main_nav a {
    display: inline-block;
    color: plum;
    text-decoration: none;
    margin: 0 15px; /* Добавьте отступы между пунктами меню */
}



footer {
    margin-top: 70px;
    margin-bottom: 20px;
}

.news {
    background: #202020;
    padding: 30px;
    text-align: left;
    font-family: "Palatino Linotype", serif;
}

div h2 a {
    display: inline;
    margin: 0;
    padding: 0;
}

.history {
    margin-top: 30px;
    text-align: left;
    background: #202020;
    padding: 30px;
    font-family: "Palatino Linotype", serif;
}

main details {
    margin-top: 30px;
}

main details summary {
    font-family: 'Palatino Linotype', serif;
}

table {
    border-style: double;
    border-color: #5A916A;
    color: plum;
    margin-left: 400px;
}

.parallelogram {
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: #5A916A;
    margin-left: 850px;
}

.verse {
  display: table;
  margin: 0 auto;
  white-space: pre-line;
  word-wrap: break-word;
}
