body {
    background-image: url('../media/photos/pictures/background.jpg');
    background-color: #101010;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
}

aside {
    float: left;
    color: plum;
    background: #202020;
    width: 15%;
    height: 100vh;
    padding: 2.5%;
    border-right: 5px solid #303030;
    position: fixed;
    overflow-y: auto;
}

aside ul {list-style: none}
aside > ul > li, a {
    color: plum;
    display: block;
    margin-top: 10px;
    transition: transform .4s ease;
    text-decoration: none;
    cursor: pointer;
}

main details article p a:hover,
aside ul li:hover,
aside ul a:hover,
aside div header a:hover,
div h2 a:hover,
main footer a:hover,
nav a:hover,
a:hover{

    color: white;
    text-decoration: none;
    transform: scale(1.05);
}

main details article p a:visited,
aside ul li:visited,
aside ul a:visited,
aside div header a:visited,
div h2 a:visited,
main footer a:visited,
nav a:visited,
a:visited{
    color: #5A916A;
}

main details article p a:active,
aside ul li:active,
aside ul a:active,
aside div header a:active,
div h2 a:active,
main footer a:active,
nav a:active,
a:active{
    color: deeppink !important;
}

main details article p a:focus,
aside ul li:focus,
aside ul a:focus,
aside div header a:focus,
div h2 a:focus,
main footer a:focus,
nav a:focus,
a:focus {
    color: palegreen;
}

main .features {
    float: left;
    color: plum;
    margin-top: 10px;
    margin-left: 350px;
    text-align: center;
    width: 75%;
    overflow: hidden;
}

main .features h1 {
    @import url('https://fonts.cdnfonts.com/css/barbie');
    font-family: 'Barbie', sans-serif;
    font-size: 100px;
    font-kerning: normal;
}
main .features p {
    margin: 20px auto;
    max-width: 1000px
}

.alert img {
    max-width: 100%;
    height: auto;
}

.alert-warning {
    flex: 0 1 calc(30% - 20px);
    padding: 30px;
    font-family: "Palatino Linotype", serif;
    border-color: #5A916A;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background: #903490;
    float: left;
    clear: both;
    width: 600px;
    margin: 15px;
}

.alert-info {
    background: #5A916A;
    border-color: #903490;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    color: plum;
    float: left;
    clear: both;
    margin: 15px 20%;
    text-align: left;
    padding: 30px;
    font-family: "Palatino Linotype", serif;
}

.user-selection {
    font-family: "Palatino Linotype", serif;
    font-weight: bold;
    border-style: dashed;
    border-color: #5A916A;
    border-radius: 10px;
    border-width: 2px;
    margin-bottom: 15px;
    text-align: center;
}

.user-header {
    padding: 10px;
    margin-bottom: 10px;
}

.buy-membership {
    background: #1b1b1b;
    color: white;
    width: 5%;
    border-radius: 2px;
}

#menu {
    font-family:'Palatino Linotype', serif;
    font-weight: bold;
}

.img-container {
    max-width: 300px;
    max-height: 500px;
    overflow: auto;
    justify-content: center;
}

footer nav a {
    display: inline-block;
    margin-right: 10px;
}

.main_nav {
    background-color: #202020;
    padding: 10px 0;
    text-align: left;
    position: fixed; /* Закрепить меню вверху экрана */
    top: 0; /* Расположить меню в самом верху экрана */
    width: 100%; /* Занимать всю ширину экрана */
    z-index: 1000; /* Убедитесь, что меню отображается выше других элементов */
}

.main_nav a {
    display: inline-block;
    color: plum;
    text-decoration: none;
    margin: 0 15px; /* Добавьте отступы между пунктами меню */
}

footer {
    margin-top: 70px;
    margin-bottom: 20px;
}

article[class*="news"],
dl.news{
    border-radius: 20px;
    background: #202020;
    padding: 30px;
    text-align: center;
    font-family: "Palatino Linotype", serif;
    width: 70%;
    border: 1px solid #5A916A;
}

#news-letter:first-letter {
    color: #5A916A;
    font-family: "Barbie", serif;
    font-size: 40px;
}

.new {
    position: relative;
    right: 100px;
    text-indent: 20px;
    text-transform: capitalize;
    line-height: 1.1;
    font-variant: small-caps;
    letter-spacing: 1px;
    word-spacing: 5px;
    hyphens: auto;
    border-radius: 20px;
    background: #202020;
    padding: 30px;
    font-family: "Palatino Linotype", serif;
    border: 1px solid #5A916A;
    margin: 100px;
}

.news[lang="en"]::before {
    content: '\201C';
    font-size: 20px;
}

.news[lang="en"]::after {
    content: '\201D';
    font-size: 20px;
}

p[lang="ru"]::before {
    content: '\00AB';
    font-size: 20px;
}

p[lang="ru"]::after {
    content: '\00BB';
    font-size: 20px;
}

::selection {
    background: #5A916A;
    color: white;
}

div h2 a {
    display: inline;
    margin: 0;
    padding: 0;
}

.history {
    margin-top: 30px;
    text-align: left;
    background: #202020;
    padding: 30px;
    font-family: "Palatino Linotype", serif;
}

main details {
    margin-top: 30px;
}

main details summary {
    font-family: 'Palatino Linotype', serif;
}

table {
    border-style: double;
    border-color: #5A916A;
    color: plum;
    margin-left: 400px;
}

.parallelogram {
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: #5A916A;
    margin-left: 850px;
}

.verse {
  display: table;
  margin: 0 auto;
  white-space: pre-line;
  word-wrap: break-word;
}

[title="Barbie"] {
    color: #5A916A;
    font-family: sans-serif;
}

#certificate {
    text-align: center;
    position: relative;
    margin: 10px 520px; /* Уменьшаем верхний отступ для внешнего контейнера */
    background-color: white; /* Цвет фона под заголовком */
    display: inline-block; /* Делаем контейнер блочным, но сохраняем его ширину по содержимому */
}

#certificate h6 {
    position: relative;
    z-index: 1; /* Помещаем текст над фоном */
    margin: 20px; /* Уменьшаем отступы вокруг текста */
}

#certificate-text {
    background: white;
    border: 15px solid plum; /* Уменьшаем ширину рамки */
    padding: 10px;
    text-align: center;
    border-image: repeating-linear-gradient(30deg, plum, #5A916A, plum 20px) 30; /* Уменьшаем ширину и высоту градиента */
    max-width: 800px; /* Устанавливаем максимальную ширину для внутреннего блока */
    margin-top: 0; /* Убираем верхний отступ за счет отрицательного margin-top */
    margin-left: auto; /* Центрируем блок по горизонтали */
    margin-right: auto;
}

.date {
    display: flex;
    justify-content: space-between;
}

.date span:not(:last-child) {
    flex-grow: 1;
    text-align: left;
    font-size: 10px;
}

.date span:last-child, #right {
    text-align: right;
    font-size: 10px;
}

.paragraph {
    margin-bottom: 5px;
    margin-top: 5px;
}

.underlined-text {
    text-decoration: underline;
}

[title^="blue"] {
    color: limegreen;
}

[title$="red"] {
    color: hotpink;
}

#certificate h3,
#certificate h4,
#certificate h5,
#certificate h6 {
    margin-bottom: 5px;
    margin-top: 5px;
}

#certificate-text .spacer { /* Вставить пустой блок */
    display: block;
    margin-bottom: 150px;
}

@media only screen and (max-width: 1300px) {
    aside {
        background-color: palegreen;
    }
}

@media only screen and (max-height: 500px) {
    aside {
        background-color: hotpink;
    }
}

.round {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid #5A916A; /* Параметры рамки */
    box-shadow: 0 0 10px white; /* Параметры тени */
   }

.border-block {
    border: 15px solid;
    padding: 20px;
    border-image: url('../media/photos/pictures/border.jpg') 10% round;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
    animation: rotateAnimation 5s infinite linear;
}

#requisites {
    font-weight: bold;
}

.news-description {
    height: 80px;
    overflow: hidden;
    position: relative;
    column-count: 2;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 80px;
}

.vacancy-list {
    width: 90%;
}

.vacancy {
    width: 40%; /* Ширина блока вакансии */
    float: left;
    margin-right: 100px; /* Отступ между блоками */
    margin-bottom: 20px; /* Отступ снизу */
}

.clear {
    clear: both;
}

.coupon-table {
    width: 70%;
    margin-left: 400px;
    border-collapse: collapse;
}

.coupon-table th, .coupon-table td {
    border: 1px solid plum;
    padding: 8px;
    text-align: left; /* Выравнивание текста в ячейках */
}

.coupon-table thead {
    background-color: #5A916A;
    color: white; /* Цвет текста в заголовке */
}

.coupon-table caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.coupon-table tbody tr:nth-child(even) {
    background-color: #5A916A;
    color: white; /* Цвет текста в четных строках */
}

.coupon-table tbody tr:nth-child(odd) {
    color: plum; /* Цвет текста в нечетных строках */
}

/* CSS для feedback_form */
#feedback-form {
    font-family: Arial, sans-serif; /* Замените на ваш предпочитаемый шрифт */
}

.form-button {
    color: white;
    background-color: #5A916A;
}

.form-heading, .form-label, .form-input {
    color: plum;
}

.form-label {
    margin-top: 20px;
    margin-left: 650px;
    text-align: center;
    width: 75%;
}

.form-input[type="submit"] {
    color: plum;
    margin-top: 10px;
    margin-left: 250px;
    text-align: right;
    width: 30%;
}

.form-input:hover, .form-button:hover, .form-input:active, .form-button:active, .form-input:focus, .form-button:focus {
    color: plum;
}

/* CSS для feedback_view */
#feedback-view {
    font-family: Arial, sans-serif;
    color: plum;
    margin-left: 150px;
}

.login-options a {
    color: plum;
}

.login-options a input[type="button"] {
    margin-top: 10px;
    margin-left: 350px;
    text-align: right;
    width: 75%;
    color: plum;
}

/* Добавим стили для состояний hover, active и focus */
.login-options a:hover input[type="button"], .login-options a:active input[type="button"], .login-options a:focus input[type="button"] {
    color: #5A916A;
}

main .features-feedback {
    float: left;
    color: plum;
    margin-top: 40px;
    margin-left: 130px;
    text-align: center;
    width: 75%;
    overflow: hidden;
}

#custom-audio {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: plum; /* Цвет фона */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px white; /* Тень */
}

/* Стили для доступных (активных) элементов формы */
form input:enabled, form textarea:enabled, form select:enabled {
    background-color: #e6fade;
    border: 2px solid green;
    color: #333;
    font-family: Arial, sans-serif; /* Пример шрифта для текстовых полей */
    font-weight: normal;
}

/* Стили для обязательных элементов формы */
form input:required, form textarea:required, form select:required {
    border: 2px solid green;
    font-family: 'Times New Roman', serif; /* Пример шрифта для обязательных полей */
    font-weight: bold;
}

/* Стили для заблокированных элементов формы */
form input:disabled, form textarea:disabled, form select:disabled {
    background-color: #eee;
    color: #999;
    font-family: 'Courier New', monospace; /* Пример моноширинного шрифта для заблокированных полей */
    font-weight: normal;
}

/* Стили для элементов формы с неверными значениями (например, за пределами диапазона) */
form input:invalid, form textarea:invalid, form select:invalid {
    border: 2px solid #f00;
    font-family: Verdana, sans-serif; /* Пример другого шрифта для элементов с неверными значениями */
    font-weight: normal;
}

#custom-audio:hover {
    background-color: #5A916A; /* Цвет фона при наведении */
}

#list-ex {
    list-style-type: none;
    padding: 0;
}

#list-ex li {
    padding: 10px;
}

#list-ex li:first-child {
    background-color: #f1c40f; /* Цвет для первого элемента */
}

#list-ex li:last-child {
    background-color: #3498db; /* Цвет для последнего элемента */
}

#list-ex li:nth-child(3n) {
    background-color: #2ecc71; /* Цвет для нечетных элементов */
}

#unicode {
    list-style: none;
}

#unicode li::before {
    content: "\2765"; /* Символ "•" в Юникоде */
    color: white; /* Цвет маркера */
    font-size: 1.5em; /* Размер маркера */
    margin-right: 5px; /* Расстояние между маркером и текстом */
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    font-weight: normal;
    filter: drop-shadow(0px 0px 5px white);

}
