{% extends 'fitness_club/layout.html' %}
{% load static %}

{% block title %}
    Form
{% endblock %}

{% block content %}
    <main class="features-feedback">
    <h1 class="form-heading">{{ title }}</h1>
    <form id="feedback-form" action="{% url 'feedback_form' %}" method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>
                {{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button class="form-button" type="submit">Send feedback</button>
    </form>
    </main>
{% endblock %}