{% load static %}
<html lang="en">
<head>
    <style>
        body {
            background: #1b1b1b;
            color: white;
            text-align: center;
        }
    </style>
    <link rel="icon" href="{% static 'fitness_club/media/photos/pictures/barbie_icon.png' %}" type="image/x-icon">
</head>
<body>

<h1>Hello, {{ user.username|default:'Guest' }}</h1>
<p>Welcome to the Barbie Fitness</p>
<div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a><br>
        <a href="{% url 'inform' %}">Go to the Fitness Club</a><br>

        {% if user.is_superuser %}
            <a href="{% url 'admin' %}">Administrate</a>
        {% endif %}

    {% else %}
        <a href="{% url 'signup' %}">Sign Up</a><br>
        <a href="{% url 'inform' %}">Look at</a><br>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
</body>
</html>