<html lang="en">
<head>
    <style>
        body {
            background: #1b1b1b;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>

<h1>Hello, {{ user.username|default:'Guest' }}</h1>
<p> Welcome to the our Fitness Club </p>
<div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a><br>
        <a href="{% url 'fitness_club_home' %}">Go to the Fitness Club</a><br>

        {% if user.is_superuser %}
            <a href="{% url 'admin' %}">Administrate</a>
        {% endif %}

    {% else %}
        <a href="{% url 'signup' %}">Sign Up</a><br>
        <a href="{% url 'fitness_club_home' %}">Look at</a><br>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
</body>
</html>