{% extends 'fitness_club/layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="features">
        <h1 style="font-family:'Palatino Linotype', serif">Home</h1>
        {% if groups %}
            {% for el in groups %}
                <div class="alert alert-warning">
                    <h3>{{ el.name }}</h3>
                    <p>{{ el.description }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Groups not found</p>
        {% endif %}
    </div>
{% endblock %}