{% extends 'fitness_club/layout.html' %}

{% block title %}
    Instructors
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Instructors</h1>
        {% if instructor %}
            {% for el in instructor %}
                {% if el.photo %}
                    <p><img class='img-article-left thumb' src="{{ el.photo.url }}"></p>
                {% endif %}
                <div class="alert alert-warning">
                    <h3>{{ el.name }}</h3>
                    <p>{{ el.specialization }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Specialization not found</p>
        {% endif %}
    </div>
{% endblock %}