{% extends 'fitness_club/layout.html' %}

{% block title %}
    Have a good day!
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Have a good day!</h1>
        <div style="text-align: center" class="alert alert-info">
            <img src="{{ image_url }}" alt="Such image doesn't exist :(" style="max-width: 500px">
        </div>
{% comment %}        <div class="alert alert-info">
            <h2><i><strong>Fact about cats:</strong></i></h2>
            <h3>{{ random_fact.text }}</h3>
            <h3>Created At: {{ random_fact.createdAt }}</h3>
        </div>{% endcomment %}
    </div>

    <h2>Parallelogram CSS</h2>
    <div class="parallelogram"></div>

    <div class="features">
        <h3>Listning:</h3>
        <code>
            <pre>
                class FeedbackForm(forms.ModelForm):
                    def __init__(self, *args, **kwargs):
                        super().__init__(*args, **kwargs)
                        self.fields['name'].empty_label = 'Name not entered'
                        self.fields['last_name'].empty_label = 'Last name not entered'
                        self.fields['rating'].empty_label = "You didn't rate"
                        self.fields['feedback'].empty_label = "You haven't left a review"
            </pre>
        </code><hr/>

        <h3>The current date and time is: {% now "Y-m-d H:i:s" %}</h3><hr/>

        <h3><abbr title="National Basketball Association">NBA</abbr></h3><hr/>

        <blockquote lang="ru">
            <p lang="ru">Я терпел неудачу снова и снова в своей жизни. И именно поэтому я добился успеха.</p>
            <footer>— Майкл Джордан</footer>
        </blockquote><hr/>

        <div class="verse">On the track, sprinters burst into a run,
                            Each step takes them closer to the finish line, the ultimate fun.
                            With sweat on their brows and fire in their soul,
                            In the world of sports, they reach their ultimate goal.
        </div><hr/>

        <ul id="list-ex">
            <li><b>1</b> One </li>
            <li><b>2</b> Two </li>
            <li><b>3</b> Three</li>
            <li><b>4</b> Four</li>
            <li><b>5</b> Five</li>
        </ul><hr>

        <ul id="unicode">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul><hr>

        <label class="checkbox style-d">
            <input type="checkbox" id="subscribe" name="subscribe" checked/>
            <div class="checkbox__checkmark"></div>
            <div class="checkbox__body">a</div>
        </label>

        <label for="pages">Choose a page:</label>
            <select id="pages" name="pages">
                <option value="about_us">About us</option>
                <option value="home">Home</option>
                <option value="faq">FAQ</option>
            </select><br>
    </div>

{% endblock %}