{% extends 'fitness_club/layout.html' %}
{% load static %}

{% block title %}
    News
{% endblock %}

{% block content %}
    <main class="features">
        <h1>News</h1>
        {% for n in news %}
        <details>
            <summary><h2>{{ n.name }}</h2></summary>
            <article class="news">
                <p>
                    {% if n.photo %}
                        <p><img class='img-article-left thumb' src="{{ n.photo.url }}"></p>
                    {% endif %}
                    {{ n.description }}
                </p>
                <p><a href="{{ n.get_absolute_url }}" target="_blank">Read all</a></p>
            </article>
        </details>
        {% endfor %}
    </main>
{% endblock %}
