{% extends 'fitness_club/layout.html' %}
{% load static %}

{% block title %}
    Vocations
{% endblock %}

{% block content %}
    <main class="features">
        <h1>Vocations</h1>
        <div class="alert-warning vacancy-list">
            {% for v in vocation %}
                <div class="vacancy">
                    <h2>{{ v.vocation }}</h2>
                    {% autoescape on %}
                        <p>{{ v.description|linebreaks }}</p>
                    {% endautoescape %}
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
    </main>
{% endblock %}
